---
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb'
import { Icon } from 'astro-icon/components'

export interface BreadcrumbItemProps {
  href?: string
  label: string
  icon?: string
}

interface Props {
  items: BreadcrumbItemProps[]
}

const { items } = Astro.props
const lastIndex = items.length - 1
---

<Breadcrumb>
  <BreadcrumbList>
    <BreadcrumbItem>
      <BreadcrumbLink href="/">
        <Icon name="lucide:home" class="size-4 shrink-0" />
      </BreadcrumbLink>
    </BreadcrumbItem>
    {
      items.map(({ href, label, icon }, index) => (
        <>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            {index === lastIndex ? (
              <BreadcrumbPage>
                <span class="flex items-center gap-x-2">
                  {icon && <Icon name={icon} class="size-4 shrink-0" />}
                  <span>{label}</span>
                </span>
              </BreadcrumbPage>
            ) : (
              <BreadcrumbLink href={href}>
                <span class="flex items-center gap-x-2">
                  {icon && <Icon name={icon} class="size-4 shrink-0" />}
                  <span>{label}</span>
                </span>
              </BreadcrumbLink>
            )}
          </BreadcrumbItem>
        </>
      ))
    }
  </BreadcrumbList>
</Breadcrumb>
