---
import Link from '@/components/shared/link.astro'
import SocialIcons from '@/components/shared/social-icons.astro'
import AvatarComponent from '@/components/ui/avatar'
import { cn } from '@/lib/utils'
import type { SocialLink } from '@/types'
import type { CollectionEntry } from 'astro:content'

interface Props {
  author: CollectionEntry<'user'>
}
const { author } = Astro.props
const { name, avatar, bio, pronouns } = author.data
const currentPath = Astro.url.pathname
const isAuthorPage = currentPath === `/about`

const socialLinks: SocialLink[] = [
  author.data.website && { href: author.data.website, label: 'Website' },
  author.data.github && { href: author.data.github, label: 'GitHub' },
  author.data.twitter && { href: author.data.twitter, label: 'Twitter' },
  author.data.linkedin && { href: author.data.linkedin, label: 'LinkedIn' },
  author.data.mail && { href: `mailto:${author.data.mail}`, label: 'Email' },
  author.data.letterboxd && {
    href: author.data.letterboxd,
    label: 'Letterboxd',
  },
].filter(Boolean) as SocialLink[]
---

<div
  class="has-[a:hover]:bg-muted/50 overflow-hidden rounded-xl border p-4 transition-colors duration-300 ease-in-out"
>
  <section class="flex flex-wrap gap-4">
    <Link
      href="/about"
      class={cn('block', isAuthorPage && 'pointer-events-none')}
    >
      <AvatarComponent
        client:load
        src={avatar}
        alt={`Avatar of ${name}`}
        fallback={name[0]}
        className={cn(
          'size-32 rounded-md *:data-[slot="avatar-fallback"]:rounded-md *:data-[slot="avatar-image"]:object-cover',
          !isAuthorPage &&
            'hover:ring-primary transition-shadow duration-300 hover:cursor-pointer hover:ring-2',
        )}
      />
    </Link>
    <div class="flex grow flex-col justify-between gap-y-3">
      <div class="flex flex-col gap-0.5">
        <div class="flex flex-wrap items-center gap-x-2">
          <h3 class="text-lg font-medium">{name}</h3>
          {
            pronouns && (
              <span class="text-muted-foreground text-sm">({pronouns})</span>
            )
          }
        </div>
        <p class="text-muted-foreground text-sm">/flɔ.ʁjɑ̃/ • user</p>
        <p class="text-muted-foreground mt-1.5 text-sm">{bio}</p>
      </div>
      <SocialIcons links={socialLinks} />
    </div>
  </section>
</div>
